.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.input-container {}

.checkbox-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
}